<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    {{> bootstrap }}
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    {{> header }}

    <div class="container mt-5">
        <h4>Help</h4>
        <hr>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ducimus adipisci minus fugiat iste
            debitis dicta sint delectus facere molestias amet, rerum perferendis ad harum voluptatem itaque earum
            molestiae quisquam.</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ducimus adipisci minus fugiat iste
            debitis dicta sint delectus facere molestias amet, rerum perferendis ad harum voluptatem itaque earum
            molestiae quisquam.</p>
    </div>

    {{> footer }}

    {{> script }}
</body>

</html>